@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.tab-button {
  @apply text-lg font-normal my-1 px-2 rounded focus:outline-none;
  color: rgba(0, 0, 0, 0.85);
}

.tab-button:hover {
  color: #40a9ff;
}

.tab-button:focus-visible {
  background-color: #d1eaff;
}

.tab-button-active {
  @apply text-lg;
  color: #1890ff;
}
